Je krijgt van ons een csv bestand met de naam “persoonsgegevens.csv”. 
Het bestand bevat informatie van personen:
-	Kolom 1: het rijksregisternummer van de persoon
-	Kolom 2: de familienaam van de persoon
-	Kolom 3: de voornaam van de persoon

Een rijksregisternummer heeft volgend formaat: 
-	3 keer 2 cijfers onderling gescheiden door een punt; dit is de geboortedatum van de persoon in de vorm jj.mm.dd (eerste twee cijfers zijn de 2 laatste cijfers van het geboortejaar, dan een punt, dan twee cijfers overeenkomstig de geboortemaand, dan een punt en dan nog eens twee cijfers overeenkomstig de geboortedag)
-	Een streepje “-“
-	Drie cijfers: dit is volgnummer om personen die op dezelfde dag geboren zijn van elkaar te onderscheiden; vrouwen krijgen een even volgnummer, mannen een oneven volgnummer
-	Een punt
-	Twee cijfers die als controlegetal werken; hoe deze controle gebeurd is voor deze opgave niet van belang
Een vrouw geboren op 28 juli 1994 zou volgend rijksregisternummer kunnen hebben: 
94.07.28-124.89.
We wensen een applicatie te maken om een overzicht te creëren van het aantal geboortes per dag van de week. In dit overzicht worden de dagen van de week voorgesteld met de Engelstalige benamingen, dus van "Monday" tot "Sunday".
Vul in volgende de nodige stukjes code toe.

Lees het bestand "personal_data.csv" in een panda Dataframe met de naam "data"

In [39]:
import matplotlib
import pandas as pd
import re
data = pd.read_csv("personal_data.csv", delimiter=";")

Controleer of dit goed gedaan is door een aantal van de eerste rijen te tonen.

In [40]:
data.head()

  rijksregisternummer      naam voornaam
0     94.07.25-124.89   Lemmens     Elke
1     96.99.11-133.71  Janssens      Jef
2    02.122.12-122.32      Elen  Marieke
3     99.07.01-005.56  Hendriks  Hendrik
4    93.07.25-1248.89   Lemmens     Elke

Wijzig de rijksregisternummers die niet aan het juiste formaat voldoen (beschouw voorlopig enkel als goed formaat : 2cijfers.2cijfers.2cijfers-3cijfers.2cijfers) door None.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

In [48]:
pattern = r"^\d{2}\.\d{2}\.\d{2}-\d{3}\.\d{2}$"
invalid_rrn = data[~data['rijksregisternummer'].str.match(pattern)]
invalid_rrn
data.loc[invalid_rrn.index, 'rijksregisternummer'] = None
data

   rijksregisternummer      naam voornaam
0      94.07.25-124.89   Lemmens     Elke
1      96.99.11-133.71  Janssens      Jef
2                 None      Elen  Marieke
3      99.07.01-005.56  Hendriks  Hendrik
4                 None   Lemmens     Elke
5      00.10.11-133.71  Janssens      Jef
6                 None      Elen  Marieke
7      89.07.01-005.56  Hendriks  Hendrik
8      99.07.25-124.89   Lemmens     Elke
9      95.10.11-133.71  Janssens      Jef
10     12.12.12-122.32      Elen  Marieke
11     19.07.01-005.56  Hendriks  Hendrik
12     93.07.25-124.89   Lemmens     Elke
13     87.10.11-133.71  Janssens      Jef
14     12.12.22-122.32      Elen  Marieke
15     39.07.01-005.56  Hendriks  Hendrik
16     04.07.25-124.89   Lemmens     Elke
17     06.10.11-133.71  Janssens      Jef
18     22.12.12-122.32      Elen  Marieke
19     49.07.01-005.56  Hendriks  Hendrik
20     43.07.25-124.89   Lemmens     Elke
21     01.10.11-133.71  Janssens      Jef
22                None      Elen  Marieke
23     88.07.01-005.56  Hendriks  Hendrik
24     90.07.25-124.89   Lemmens     Elke
25     25.10.11-133.71  Janssens      Jef
26     14.12.12-122.32      Elen  Marieke
27     79.07.01-005.56  Hendriks  Hendrik
28     73.07.25-124.88   Lemmens     Elke
29     77.10.11-133.71  Janssens      Jef
30     62.12.22-122.32      Elen  Marieke
31     49.07.01-005.56  Hendriks  Hendrik

Wijzig de rijksregisternummers waarvan de eerste 8 tekens niet overeenkomen met een datum door None.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

Schrap de rijen in het dataframe waarin de waarde None in één van de kolommen voorkomt.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

Wijzig het dataframe door een kolom toe te voegen met de naam “geboortedatum” die de geboortedatum als datetime object voorstelt.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

Wijzig het dataframe door een kolom toe te voegen met de naam “dag” die de dag in de week voorstelt dat de persoon geboren is; de dagen zijn de Engelstalige namen voor de dagen.
Toon opnieuw de eerste rijen om na te gaan of dit gelukt is.

Voer volgend stukje code uit.

In [ ]:
data["dag"] = pd.Categorical(data["dag"],["Monday","Tuesday", "Wednesday", "Thursday","Friday","Saturday","Sunday"])
data.head()

Toon een visueel overzicht in de vorm van een histogram van het aantal geboortes per dag van de week.